/*	Global css styling
	==========
	This stylesheet takes care for some general styling for aligning images and text,
	together som basic font-sizes, styling for css-classes created by WordPress and form-styling.	
*/

/* fonts/ text */
p {
	font-size : 1em; 
	font-style : normal; 
} 
h1 {
	font-size:2em;
}
h2 {
	font-size : 1.6em; 
}
h3, big {
	font-size:1.2em;
}
h4, h5, h6 {
	font-size:1em;
}
blockquote {
	font-size:1em;
}
em, cite, i, .credits {
	font-style:italic;
}
strong, b, .first {
font-weight:bold;
}
code, pre {
	font-size:1.1em;
}
.gecko code, .gecko pre {
	font-size:1.2em;
}


small, .small {
	font-size:0.9em;
}

/*images*/
img {
	max-width:98%;
	border:0px;
	margin:2px;
}
.wp-smiley, .noborder {
	border:0px;
}
.rssimg {
	margin:0;
	border:none;
}
img.center, img.aligncenter {
	display:block;
	margin: 10px auto;
}
.wp-caption {
	font-size: 0.9em;
	text-align: center;
	padding: 2px;
}

/*CSS classes for aligning images, text etc*/
.center, .aligncenter {
	text-align: center;
}
.right, .alignright {
	float: right;
	margin-left: 10px;
}
.left, .alignleft {
	float: left;
	margin-right: 10px;
}
.righttxt {
	text-align: right;
}

/*misc css classes */
.none {
	display: none;
}
.inline {
	display:inline;
}
.block {
	display:block;
}
.sidequote, .sidenote {
	width: 130px;
}
.spoiler {
	background:#222;
	color:#202020;
}
.spoiler:hover {
	color:#fff;
}

/*Access navigation found on top in Precious Theme*/
#accessnav {
	clear:both;
}
#accessnav li{
	display:inline;
}
#accessnav li ul {
	display:inline;
}
#accessnav select,  #accessnav option{
	padding:1px;
	margin:0px;
}
#accessnav form {
	display:inline;
}

/*navbar support*/
#nav {
	margin:2px 0;
	padding:2px 0;
	clear:both;
	}
#nav ul {
	margin:0;
	padding:0;
	}
#nav li {
	display:inline;
	margin: 0px 0px 0px 7px;
	}



/*content*/
.postmeta {
	font-size:0.9em;
	clear:both;
}
.postmeta p {
	margin:2px 0px;
	padding:0;
}




/*Pagetemplate styling*/
ul#bookmarks {
	list-style:none outside;
	margin:5px 0px;
	padding:2px;
}

/*Tag cloud styling*/
ul.wp-tag-cloud {
	list-style:none;
}
.wp-tag-cloud li {
	display:inline;
	margin: 3px 5px;
}


/*Comments*/
#respond {
	clear:both;
}

#commentform legend {
	margin-left: -5px;
	font-size:1.2em;
}
#commentform fieldset {
	padding:0;
	margin:0;
	border:none;
}
#commentform textarea {
	width:90%;
}
#commentform label, #commentform textarea {
	display:block;
}
#commentform input {
	width:50%;
}
#commentform input.submit {
	width:40%;
	margin:2px 0px;
}
ol#commentlist, ol#pinglist {
	list-style-position:inside;
	margin: 5px 0px;
}
#commentlist li, #pinglist li {
	margin: 7px 0px;
	clear:both;
}
cite.comment_author {
	font-style:normal;
	display:inline;
}


/*next and previous navigation */
ul#footernav, ul#commentsnav, ul.page-numbers {
	list-style:none;
	margin:5px 0px;
	padding:0;
	clear:both;
	font-size:0.9em;
}
ul#footernav li, ul#commentsnav li, ul.page-numbers li {
	margin:0;
	padding:0;
	display:inline;
}
li.prev {
	float:left;
}
li.next {
	float:right;
}
li#toplink {
	display:block;
}


/*general sidebar settings*/
#sidebar ul {
	list-style:none;
}

/* Widget styling*/
.rsswidget img {
	margin: 0px 2px;
}
.textwidget {
	margin:0px;
	padding: 2px;
}

#wp-calendar {
	margin: 2px 0px;
	width: 80%;
}
#wp-calendar th, #wp-calendar td {
	padding:0.1em;
	margin:0;
	text-align:center;
}


/*footer*/
#footer {
	clear:both;
}


/*general lists*/
ul, ol {
	list-style-position: outside;
	margin: 5px 20px;
	padding:2px;
}
li {
	margin: 2px 0px;
}
dl {
	margin: 5px 0px;
	padding:2px;
}
dt {
	margin: 5px 0px;
}
dd {
	margin: 5px 15px;
}

/*forms*/
input , textarea, select, option {
	font-size:100%;
	padding: 2px 0px;
	margin: 2px 0px;
}
fieldset, legend {
	border: none;
	padding: 5px;
}
label, legend {
	font-weight:normal;
}


/*tables*/
table {
	width: 90%;
	margin: 5px auto;
	padding: 0px;
}
caption {
	font-weight: bold;
	padding: 5px;
}
td, th, tr {
	padding: 5px;
	text-align:left;
}

body { 
background:#fcfcfc;
color:#111;
font-size:62.5%;
font-style:normal;
margin:0;
padding:0 1em;
font-family: Verdana, Tahoma, Arial, Sans-serif;
}

/*some class styling*/
.sidenote {
padding:5px;
border: 1pt solid #ccc;
float:right;
}
.sidequote {
background:#eee;
font-style:italic;
font-family:Georgia, Serif;
font-size:1.1em;
padding:5px;
border: double #ccc;
border-width:2px 0px;
float:left;
margin: 0px;
margin-right: 10px;
}
.border,   hr {
border: 1pt solid #ccc;
}
 .doubleborder {
border: 5px double #ccc;
padding: 3px;
}
blockquote {
border-left: 3px solid #369;
padding-left: 5px;
}

/*linkcolors for default skin*/
a:link {
color : #930; 
text-decoration : underline; 
} 
 a:visited {
color : #b52; 
text-decoration : underline; 
} 
 a:hover {
color :#555; 
text-decoration:underline;
} 
 a:active {
color : #555; 
} 

/*header styles*/
h1, h2, h3, h4, h5, h6, #commentbox legend, #searchform label, #wp-calendar caption, #sidebar h2 a {
font-family :'URW Gothic L', 'Century Gothic', 'Trebuchet MS', Tahoma, Arial, 
	Verdana, Helvetica, Sans-Serif; 
color : #333; 
margin: 10px 0px;
padding:2px 0px;
font-weight:normal;

}


/*Wrap*/
#wrap {
background : transparent;
padding:0px;
max-width:80em;
margin: 0px auto;
font-size:1.1em;
}


/*Access navigation*/
#accessnav, #footer, #footer ul {
margin:0px;
padding:0px;
}
#accessnav li:before {
content: "\00BB \0020";
}

ul#accessnav a {
color:#111;
text-decoration:none;
}


#footer {
clear:both;
}


/*header*/

#header {
background:transparent;
margin:0px;
padding:5px 0px 2px;
text-align:left;
border-bottom: 1pt solid #ccc;
}
#header h1{
font-size:3em;
margin:2px 0px;
}
#header p {
margin:2px 0px;
padding:0px;
}
#header h1 a:link, #header h1 a:visited {
color:#369;
font-weight:normal;
text-decoration:none;
}
#header h1 a:hover, #header h1 a:active {
color:#333;
text-decoration:none;
}



/*content div*/
#content {
padding: 2px 0px;
margin: 0px;
margin-right:0.5em;
width: 68%;
float: left;
font-size:1.1em;
line-height:1.6em;
}
h2#pagetitle, h2#comments{
color:#369;
font-weight:normal;
padding: 10px 0px 3px;
}
h2#pagetitle {
padding:3px 0px;
}

#content h3.posttitle,  #content h2.posttitle {
padding:3px 0px;
border-bottom: 1px solid #eee;
}
#content h3.posttitle a {
font-size:1.2em;
}
#content h2.posttitle a {
font-size:1em;
}

#content h3 a:link,  #content h3 a:visited, #content h2 a:link,   #content h2 a:visited  {
color:#369;
font-weight: normal;
text-decoration:none;
}
#content h2 a:hover, #content h2 a:active,  #content h3 a:hover,  #content h3 a:active {
color:#333;
}
.post {
margin: 15px 0px 25px;
clear:both;
}
.sticky {
background:#eee;
border:1px solid #ccc;
padding: 10px;
}
.postmeta {
font-size:0.9em;
clear:both;
padding: 2px;
}
.postmeta p {
margin:1px 0px;
padding:0;
}
.wp-caption {
background:#eee;
border:1px solid #ccc;
}

/*Comments*/
#commentbox,  #footer {
border-top:1px solid #ccc;
}
#commentbox ol {
list-style: none outside;
}
#commentlist li {
background:#fcfcfc;
border:1px solid #ccc;
padding: 3px;
margin: 5px 0px 10px;
}
#commentlist li.alt {
background:#f7f7f9;
}

#commentlist li.bypostauthor {
background:#eee;

}
ul.children {
list-style:none outside;

}
 .commentmeta {
font-size:0.9em;
text-align:right;
}
img.avatar {
border:1px solid #ccc;
background:#fcfcfc;
margin: 5px;
float:right;
padding:2px;
}



/*sidebar*/
#sidebar {
padding: 5px 0px;
margin: 0 0 0 1.5em;
width: 25%;
float:right;
font-size:1em;
}
#sidebar h2, #sidebar label {
font-size:1.1em;
margin:5px 0px 2px;
font-weight: normal;
}
#sidebar a {
text-decoration: none;
}
#sidebar ul {
list-style:none outside;
padding: 2px 0px;
margin:2px 0px;
}
#sidebar li {
margin:0px;
padding: 3px 2px;
}
#sidebar li li {
border-bottom: 1px solid #eee;
}
#sidebar li li li:before {
content: "\00BB \0020";
}

#sidebar li li li, #sidebar li ul.wp-tag-cloud li  {
border: none;
}


#sidebar form, #sidebar fieldset {
margin:0px;
padding:0px;
}
#sidebar label {
display:block;
}
#sidebar input#searchquery, #sidebar input#search-widget{
width:50%;
}
#sidebar input.submit {
width:20%;
}

/* Widget styling*/
 td#today { 
background:#ccc;
}
#wp-calendar caption {
font-size: 1.1em;
text-align: left;
}

/*forms*/
input , textarea, select, option {
font-family : Verdana, Arial, Tahoma, Helvetica, Sans-Serif; 
font-size:1em;
padding: 2px;
background:#cde;
border:1px solid #369;
color : #111; 
margin: 2px;
}
 fieldset,  legend {
background:transparent;
color : #111; 
border: none;
padding: 5px;
}
 label,  legend {
font-weight:normal;
}

/*other styling*/
#wpfooter {
text-align: center;
}

/*and just to make this go through WP Themes directory*/
.alignright, .alignleft, .aligncenter, .wp-caption { }




.wm_preview {
	font-size: 1.4em;
}

body {
	font-family: "Computer Modern Sans",Verdana, Tahoma, Arial, Sans-serif;
	font-size: 80%;
}

#content, code, pre {
	font-size: 16px;
}

pre {
	overflow-x: auto;
}

#wrap {
	max-width: 985px;
	font-size: 1.2em;
}

@media print {
    body {
        background : #ffffff;
        color : #000000; 
        font-family : Georgia, Times New Roman, Garamond, Serif; 
        font-size : 90%; 
        font-style : normal;
        padding: 10px;
        line-height:1.4em;
    } 
    #accessnav, #sidebar,#footer,#commentbox {
        display: none;
    }

}
